* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  display: flex;
  /* background-color: rgb(28, 31, 36); */
  background-color: #00396e;
  padding: 6px 15px;
  justify-content: space-between;
  align-items: center;
}
.navbar > h1 {
  color: white;
  font-size: 30px;
  letter-spacing: 1px;
  font-family: 'Cinzel', serif;
}
.navbar .searchCatagory{
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  width: 1050px;
  /* overflow-x: scroll; */
}
/* .navbar .searchCatagory::-webkit-scrollbar{
  width: 1px;
} */

.navbar .catagory{
  /* width: 1000px; */
display: flex;
align-items: center;
justify-content: space-evenly;
border-radius: 15px;
/* overflow: hidden; */


}

.navbar .catagory .radio_input{
  display: none;
}

.navbar .catagory .radio_label{
  
  padding: 8px 12px;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: white;
  /* background-color: rgb(255, 230, 0); */
  font-weight: 600;
  margin: 0 2px;
  font-size: 14px;
}
.navbar .catagory .radio_input:checked + .radio_label{
  background-color: #f5cb5c;
  /* background-color: rgb(253, 241, 129); */
}

.navbar .search {
  display: flex;
  align-items: center;
  width: 300px;
  justify-content: space-evenly;
}
.navbar .search select {
  border: none;
  outline: none;
  width: 200px;
  height: 35px;
  border-radius: 2px;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar .search button {
  padding: 8px 12px;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: whitesmoke;
  /* background-color: rgb(255, 230, 0); */
  font-weight: 600;
}
.navbar .search button:hover,
.navbar .catagory .radio_label:hover{
    background-color: rgb(253, 241, 129);
    /* background-color: rgb(253, 241, 129); */
    color: rgb(43, 42, 42);
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
.catagory > p {
  color: white;
  margin: 0 10px;
  font-size: 18px;
  font-weight: 600;
}

.main_content{
    /* height: 100vh; */
    width: 90%;
    margin: auto;
    padding: 10px;
    padding-top: 15px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.main_content > h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.news{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 450px;
    grid-gap: 20px;
    overflow: hidden;

}

.main_content div .items{
    background-color: rgb(241, 241, 241);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;

}
.main_content div .items > h1{
    color: rgb(26, 17, 17);
    font-size: 18px;
    font-weight: 600;
}
.main_content img{
    width: 50%;
    position: relative;
    padding-top: 15px;
}

.publishedAt{
  color: lightcoral;
  font-size: 12px;
}
.description{
  font-size: 13px;
  text-align: justify;
}
.source{
  color: darkblue;
}
#paginationBtn{
  display: flex;
  margin: auto;
  justify-content: center;
  border: 1px solid #bbb;
}
.paginationBtn{
  margin: 30px 4px;
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  background-color: #ddd;
  cursor: pointer;

}
.paginationBtn:hover
{
  background-color: royalblue;
  color: white;
}
.active{
background-color: royalblue;
  color: white;
  margin: 30px 4px;
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}