*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main {
  background-color: rgb(16, 14, 44);
  width: 100%;
  margin: auto;
  height: 100vh;
  display: flex;
   justify-content: center;
  align-items: center;
  position: relative;
}
.card {
  height: 550px;
  width: 400px;
  border-radius: 6px;
  background-color: rgb(10, 9, 29);
  margin: auto;
  box-shadow: 0px 4px 6px 2px rgb(6, 6, 17);
  display: flex;
  flex-direction: column;
  position: relative;
 
}
.top{
    height: 75%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    outline: none;
}


.bottom{
    height: 25%;
    padding: 20px;
    background-color: rgb(8, 7, 26);
    overflow-y: hidden;

}
.bottom > p{
    color: rgba(176, 196, 222,0.8);
    font-size: 14px;
}
.skills ul{
    display: flex;
    flex-wrap: wrap;
}

.skills ul li{
    list-style-type: none;
    margin: 5px;
    border: 1px solid rgba(176, 196, 222, 0.2);
    color: rgba(176, 196, 222, 0.5);
    padding: 4px 6px;
    border-radius: 2px;
    font-weight: 200;
    font-size: 12px;
}
.bottons{
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    margin: 20px;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 0 8px rgb(10, 9, 29),
                0 0 0 9px steelblue;
}
.info{
  margin-top: 20px;
  text-align: center;
  width: 200px;
  color: rgb(156, 179, 197,0.7);
  font-weight: 400;
}
.info h5{
    margin-top: 8px;
}
.info p{
    margin-top: 15px;
}
