.main{
  /* background-color: orange; */
  width: 80%;
  margin: auto;
  height: 600px;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 50px;
  position: relative;
}
.date{
  font-size: 32px;
  padding: 15px 0;
  font-weight: 500;
  margin: 10px 0 20px 0;
}
.txt{
  font-size: 32px;
  margin-top: 30px;
  font-weight: 500;
}
.logo{
  position: absolute;
  right: 5%;
  top: 50px;
  width: 150px;
}
.arrow{
  width: 30px;
  position: absolute;
  bottom: 50px;
  right: 8%;
  
}